python-dotenv>=1.0.0, <2.0
filetype>=1.2.0, <2.0
loguru>=0.7.0, <1.0
pyyaml>=6.0.1, <7.0
wrapt>=1.14.1, <2.0
pydantic>=2.6.4, <3.0.0
result>=0.14.0, <1.0
whenever>=0.6.0, <1.0
tzlocal>=5.1.0, <6.0
jmespath>=1.0.1, <2.0
more-itertools>=10.1.0, <11.0
cytoolz>=0.12.3, <1.0
  #toolz-0.12.1
